html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-position: bottom;
}

@media only screen and (max-width: 576px) {

  img {
   width: 300px;;
  }
  a.brand-logo {
    font-size: 20px;
  }
  .title2 {
    font-size: 20px;
  }
}